:root {
    /*colour palette*/
    --canvas-bg: #f5f5f5;
    --text-main: #232323;
    --secondary-text: #f5f5f5;
    --secondary-bg: #000000;
    --box-shadow: #23232376;
    --secondary-red: #e22614;
    --secondary-purple: #b5369c;
    --secondary-orange: #ff601e;
    --disabled-bg: #232323;
    --disabled-text: #c4c4c4;
}

/*font used*/
@font-face {
    font-family: Arvo;
    src: url('../data/Arvo/Arvo-Regular.ttf');
}

@font-face {
    font-family: Arvo;
    src: url('../data/Arvo/Arvo-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Arvo;
    src: url('../data/Arvo/Arvo-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Arvo;
    src: url('../data/Arvo/Arvo-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

/*general style*/

body {
    color: var(--text-main);
    font-family: 'Arvo', serif;
    font-size: 0.9rem;
    text-align: left;
    background: var(--canvas-bg);
    margin: 0%;
}

/*custom ids*/

#top-bar {
    font-size: 1.2rem;
    color: var(--secondary-text);
    background-color: var(--secondary-bg);
    box-shadow: 0px 7px var(--box-shadow);
    padding: 10px;
    margin: 0px;
}

#top-bar h1,
#top-bar p {
    padding: 10px;
    margin: 0px;
}

#info-text {
    padding-left: 10px;
}

#info-text h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0px;
}

#button-create {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    font-family: 'Arvo', serif;
    font-size: 1rem;
    padding: 8px;
    padding-bottom: 6px;
    border-radius: 5px;
    border: 2px solid var(--secondary-bg);
    transition-duration: 0.4s;
    cursor: pointer;
}

#button-create:hover {
    background-color: var(--canvas-bg);
    color: var(--text-main);
}

#button-create:disabled,
#button-create[disabled]{
  border: 2px solid var(--secondary-bg);
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
  cursor: default;
}

/*custom classes*/

.info-box {
    margin: 2rem;
    width: 32rem;
    border: 2px solid var(--secondary-bg);
    background: var(--canvas-bg);
    overflow-y: auto;
}

.info-box-header {
    height: 1.6rem;
    padding: 5px 22px 5px 25px;
    background-color: var(--secondary-bg);
}

.info-box-content { 
    padding: 15px 22px 15px 25px;
    display: flex;
}

/*helper css while for trying out different types of html element creation*/
.test-creation {
    width: 32rem;
    margin: 2rem;
    background-color: var(--secondary-purple);
}

/*for use of google's material icons*/
.material-symbols-outlined {
    padding-left: 4.2rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48;
}